.scoreNumber {
    background-color: #c4941c;
    /*margin: 3px;*/
    width: 100%;
    text-transform: capitalize;
    font-size: 2rem;
    padding-block: 10px;
    position: sticky; /* todo: make score sticky on iceCreamStack area when scrolling down the icecream*/
    top: 0;
    cursor: default;
}

.storeIceCreamButton {
    cursor: pointer;
    background-color: #efab19;
    margin-block-start: 20px;
    width: 80%;
    text-transform: capitalize;
    padding-block-start: 5px;
    font-size: 2rem;
    padding-block: 10px;
    position: sticky; /* todo: make score sticky on iceCreamStack area when scrolling down the icecream*/
    top: 0;
    border: none;
    outline: 3px solid #c47206;
    border-radius: 2rem;
}

.storeIceCreamButton:hover {
    background-color: #e19d0f;
}

.storeIceCreamButton:active {
    background-color: #d9910a;
}

.iceCreamContainer {
    display: flex;
    flex-direction: column-reverse;
    /* make enclosed stacking context for ice cream scoops */
    isolation: isolate;
    list-style: none;
}

.iceCreamCone {
    width: 68%;
    margin-top: -30%;
    z-index: 0;
}

.iceCreamScoopButton {
    border: none;
    background-color: transparent;
    padding: 0;
}

.iceCreamScoop {
    width: 85%;
    margin-top: -32%;
}

.iceCreamHoverPanel {
    background-color: black;
    padding: 5px;
    border-radius: 3px;
}

.scoreContainer {
    max-width: 100%;
    /* specify container height to allow ice cream to shrink inside the container*/
    grid-area: score;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: scroll;

}
