@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700;900&display=swap');
/* todo: optimise font imports with NextJS */

.questionLetterContainer {
    display: flex;
    place-items: center;
    place-content: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.questionLetter {
    color: white;
    cursor: pointer;
    margin-block: 0;
    font-size: 18vw;
    font-family: 'Zen Maru Gothic', sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@keyframes slide {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0%);
    }
}

.animation {
    animation: slide 5000ms cubic-bezier(0.15, 0.75, 0.25, 1.05),
    colors 1500ms;
}
