.gameGrid {
    text-align: center;
    width: 90vw;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-areas:
            "icecream question bubbles"
            "icecream hexagons hexagons";
    gap: 10px;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 55% 45%;
    outline: 2px solid red;
    min-width: 1000px;
}

.QuestionFilter {
/* not part of the grid */
}

.QuestionWord {
    grid-area: question;
    background-color: #E46253;
    border-radius: 5px;
    font-weight: 700;
    -webkit-text-stroke: 8px black;
}

.Bubbles {
    grid-area: bubbles;
}

.Hexagons {
    grid-area: hexagons;
    background-color: #87cefa;
    border-radius: 5px;
}

.IceCreamStack {
    grid-area: icecream;
    overflow: scroll;
    border-radius: 5px;
    background-color: #E9BD4A;
}
